body {
  overflow: hidden;
}

.horizontal-block {
  display: inline-block;
  vertical-align: top;
  overflow-y: scroll;
  scrollbar-width: none;
}

.horizontal-block::-webkit-scrollbar {
  display: none;
}

.horizontal-container {
  padding: 8px;
}


.vertical-divider {
  background: #eeeeee;
  width: 150px;
  cursor: move;
  user-select: none;
}

.main-container {
  overflow: hidden;
  display: flex;
  /* position: absolute; */
}

#now-label {
  display: block;
  width: 12em;
  text-align: left;
}

.detail-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.detail-table td {
  vertical-align: middle;
  padding: 3px 15px;
}

.component-container {
  margin: 4px;
  border-radius: 10px;
  border: solid 1px #ffffff;
  overflow: hidden;
  width: 100%;
}

.component-header {
  background-color: #444444;
  color: #ffffff;
  padding: 8px 15px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}


.detail-table {
  width: 100%;
  margin: 4px;
}

.field-value:empty {
  display: none;
}

.field-value {
  padding: 4px 6px;
}

.progress-bar-group {
  border-top: #dddddd solid 3px;
  padding: 4px;
}

.progress-complex {
  display: flex;
}

.table th {
  font-weight: bold;
  background-color: #f9f9f9
}

.buffer-table th {
  padding: 0.2rem;
}

.buffer-table td {
  padding: 0.2rem;
}

.buffer-value {
  width: 60px;
  text-align: right;
}

.buffer-name {
  width: 400px;
}