body {
  overflow: hidden;
}

.horizontal-block {
  display: inline-block;
  vertical-align: top;
  overflow-y: scroll;
  scrollbar-width: none;
}

.horizontal-block::-webkit-scrollbar {
  display: none;
}

.horizontal-container {
  padding: 8px;
}


.vertical-divider {
  background: #eeeeee;
  width: 150px;
  cursor: col-resize;
  user-select: none;
}

.horizontal-divider{
  background: #eeeeee;
  height: 5px;
  cursor: row-resize;
  user-select: none;
}

.main-container {
  overflow: hidden;
  display: flex;
  /* position: absolute; */
}

#now-label {
  display: block;
  width: 12em;
  text-align: left;
}

.detail-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.detail-table td {
  vertical-align: middle;
  padding: 3px 15px;
}

.component-container {
  margin: 4px;
  border-radius: 10px;
  border: solid 1px #ffffff;
  overflow: hidden;
  width: 100%;
}

.component-header {
  background-color: #444444;
  color: #ffffff;
  padding: 8px 15px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

.sankey-container {
  margin: 4px;
  border: solid 1px #000;
  overflow: hidden;
  width: 100%;
  height: 90%;
}

.detail-table {
  width: 100%;
  margin: 4px;
}

.field-title {
  font-size: 1em;
  cursor: default;
}

.field-title-circle {
  font-size: 0.8em;
}

.field-title-non-expandable {
  font-size: 1em;
  cursor: default;
}

.field-title-expandable {
  font-size: 1em;
  cursor: pointer;
}

.field-name {
  font-weight: 500;
}

.field-value {
  float: right;
}


.field-sub-container {
  padding: 2px 2px 2px 2px;
  margin-left: 4px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-left: solid 1px #cccccc;
}

.field-sub-container:empty{
  display: none;
}

.expanded {
  display: block;
  transition: all 0.5s ease-in-out;
}
.collapsed {
  display: none;
  transition: all 0.5s ease-in-out;
}

.hidden {
  display: none;
}

.flag-button {
  display: inline-block;
  cursor: pointer;
  font-size: 0.8em
}

.field-type {
  color: #6d6d6d;
  font-size: 0.7em;
  margin-left: 1em;
}

.progress-bar-group {
  border-top: #dddddd solid 3px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.progress-complex {
  display: flex;
  width:100%;
}

.progress-pie-complex {
  display: flex;
  width: 40px;
  height: 40px;
  margin-top:10px;
  margin-left:10px;
}

.progress-pie-tooltip {
  position: absolute;
  width: fit-content;
  z-index: 1;
  display: none;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  padding: 4px;
  font-size: 0.8em;
  border-radius: 5px;
  box-shadow: #444444 0px 0px 5px;
}

.progress-pie {
  width: 80%;
  height: 80%;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #333333;
}

.table th {
  font-weight: bold;
  background-color: #f9f9f9
}

.buffer-table th {
  padding: 0.2rem;
}

.buffer-table td {
  padding: 0.2rem;
}

.buffer-value {
  width: 60px;
  text-align: right;
}

.buffer-name {
  width: 400px;
}

.monitor-group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}


.monitor-widget {
  border-radius: 5px;
  border: solid 1px #cccccc;
  padding: 4px;
  margin: 5px;
}

.monitor-widget>.title>.close-button {
  display: inline-block;
  cursor: pointer;
  color: #999999;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.monitor-widget>.chart {
  width: 100%;
  height: 100%;
  border: solid 1px #cccccc;
}

.monitor-widget>.chart>svg {
  width: 100%;
  height: 100%;
}

.resource-type {
  font-size: 0.8em;
  opacity: 0.5;
}

.btn-outline-primary{
  background-color: white;
}

#pprof-tooltip{
  position: absolute;
  z-index: 1;
  display: none;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  padding: 4px;
  font-size: 0.8em;
  border-radius: 5px;
}