# IDE files
.idea

# Editor files
.*.swp
*.*~

# Coverage report
*.coverprofile

# Vendor
vendor

# Test file
*.test
debug
*.out
*.debug

# Prof file
*.prof

.DS_Store

.vscode/*.log

__debug_bin*

# Mock files
mock_*_test.go

*.sqlite3
.historyakitav5-lint
