name: Akita Test

on: push

jobs:
  compile-lint-test:
    name: Compile Akita
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 'stable'

      - name: Build
        run: go build ./...

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: 'latest'
          args: --timeout=10m

      - name: Install Ginkgo
        run: go install github.com/onsi/ginkgo/v2/ginkgo

      - name: Unit Test
        run: ginkgo -r


  noc_acceptance_test:
    name: NoC Acceptance Test
    runs-on: self-hosted
    needs: compile-lint-test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 'stable'

      # - name: Setup Python
      #   uses: actions/setup-python@v4
      #   with:
      #     python-version: '3.10'
        
      - name: Run Acceptance Test
        working-directory: ./noc/acceptance
        run: python acceptance_test.py

  mem_acceptance_test:
    name: Mem Acceptance Test
    runs-on: self-hosted
    needs: compile-lint-test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 'stable'

      # - name: Setup Python
      #   uses: actions/setup-python@v4
      #   with:
      #     python-version: '3.10'
        
      - name: Run Acceptance Test
        working-directory: ./mem/
        run: python acceptance_test.py


